body{
    background-color:darkgreen;
}

body h1{
    color:white;
    border-bottom: solid 3px white;
    width:750px
}
.h1_img{
    width:30px
}
.Hai{
    padding:0px,15px,0px,0px;
    width:25px;
}

.Hai hover{
    opacity:0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

.add_point{
    color:white;
}

.Culc_List{
    height:200px;
    width:800px;
    border:solid white 2px;
    position: relative;
}

.add_point{
    height:30px;
    padding:10px 0px 0px 0px;
}

.one{
    display:inline-block;

}
.two{
    padding-left: 150px;
}

.three{
    padding-left: 300px;
}

.four{
    padding-left:450px
}
.atama{
    padding-left:600px;
}

ul{
    list-style:none;
    color:white;
    position: absolute;
    padding-left:30px;
    display: block;
    top:25%;
}
li{
    border:solid white;
    margin:0px 10px 0px 0px;
    padding-left:5px;
    padding-right:5px;
    left:10%;
    float:left;
    font-size:40px;
}
p{
    font-size:15px
}
.yaku{
    color:white;
}